.btn {
    padding:10px;
    border: none;
    gap: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-style: bold;
    font-weight: 700;
    cursor: pointer; 
}

.btn.primary {
    background-color:rgba(31, 111, 120, 1);
    border: none;
    color: white;
}

.btn.secondary{
    background-color:transparent ;
    border: 1px solid rgba(31, 111, 120, 1);;
    color: black
}

.btn.started {
background: rgba(239, 133, 59, 1);
opacity: 1;
color:rgba(30, 30, 30, 1);
top: 542.14px;
left: 20px;

}

.btn.check{
background: rgba(209, 213, 219, 1);
color:rgba(30, 30, 30, 1);
top: 542.14px;
left: 170px;
opacity: 1;
}

.btn:hover {
    opacity: 1;
}

/*
.icon{
    margin-right: 8px;
    display: inline-block;
    vertical-align:middle;
}


.spinner {
    border: 2px solid rgba(255,255, 255, 0.3);
    border-top: 2px solid #fff;
    border-radius: 50%;
    width:14px;
    height: 14px;
    animation: spin is linear infinite;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
    */

