/* =================Stats Badge Section================== */
.stats-item {
  position: absolute;
  width: 180px;
  max-height: 67.78px;
  padding: 12px 19px;
  background: blur(15.8px);

  border-radius: 38px;
  border: 1.5px solid rgba(250, 250, 249, 1);

  background: rgba(202, 202, 202, 0.35);
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

/* ================Individual badge positions============ */

.badge-95p {
  top: 10%;
  left: 5%;
}

.badge-120k {
  bottom: 15%;
  right: 5%;
}

.badge-70p {
  top: 45%;
  left: 55%;
}

.stat-number {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Yeseva One", serif;
  color: rgba(30, 30, 30, 1);
}

.stat-label {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgba(30, 30, 30, 1);
}