/* =================Navigation Section================== */
.navbar {
  background: rgba(222, 201, 197, 1);
  border: 0.5px solid rgba(162, 179, 186, 1);
  border-radius: 8px;
  margin: 0.5rem 3rem;
  box-sizing: border-box;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 20px 32px;
  gap: 20px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  height: 35.3px;
  font-weight: 700;
  align-items: center;
  opacity: 1;
  color: rgba(31, 111, 120, 1);
}

.navbar .logo span {
  display: inline-block;
  transform-origin: center;
  transform: rotate(25.08°)
}
/* =================Navlinks================== */
.navbar .nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
  font-weight: 700;
  align-items: center;
  padding: 10px;
  font-size: large;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: rgba(31, 111, 120, 1);
  border-bottom: 2px solid rgba(31, 111, 120, 1);;
}

.nav-links li a.active-link{
border-bottom: 2px solid rgba(31, 111, 120, 1); 
font-weight: bold; 
}

.navbar .container > div:last-child {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* =================Responsive================== */

@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
  }

  .navbar .container > div:last-child {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .nav-links li {
    width: auto;
    margin: 0 auto;
  }

  .nav-links li a {
  display: block;
  }
}

@media (min-width: 1600px) {
  .navbar .container {
    max-width: 1400px;
  }
}