/* ====================================
   GLOBAL RESET
==================================== */

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-size: large;
  background-color: #FAFAF9;
  font-family: system-ui, Arimo, Roboto, apple-system, BlinkMacSystemFont, sans-serif;
}

/* ====================================
   APP LAYOUT
==================================== */

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-content {
  flex: 1;              
  display: flex;
  flex-direction: column;
}

/* ====================================
   HEADER
==================================== */

.App-header {
  background-color:rgba(222, 201, 197, 1);
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;          
  padding: 0.5rem 1.5rem;
}

.App-header a {
  color:rgba(31, 111, 120, 1);
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

